<ActionBar title="Home">
</ActionBar>

<GridLayout>
    <ScrollView>
        <StackLayout class="container">
            <StackLayout appTouchScaleAnimation class="cards"
                (tap)="onCardTap(1)">
                <Image src="~/assets/img1.png" width="200"
                    stretch="aspectFit"></Image>
            </StackLayout>

            <StackLayout appTouchScaleAnimation class="cards"
                (tap)="onCardTap(2)">
                <Image src="~/assets/img2.png" width="200"
                    stretch="aspectFit"></Image>
            </StackLayout>

            <StackLayout appTouchScaleAnimation class="cards"
                (tap)="onCardTap(3)">
                <Image src="~/assets/img3.png" width="200"
                    stretch="aspectFit"></Image>
            </StackLayout>

        </StackLayout>
    </ScrollView>
</GridLayout>